.crm-info-widget
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  position: relative
  z-index: 999
  --crm-info-widget-width: 300px
  --crm-ingo-widget-toggle-h-offset: 30px
  &__toggle
    position: fixed
    z-index: 1
    top: 20px
    right: var(--crm-ingo-widget-toggle-h-offset)
    border-radius: 50%
    width: 50px
    height: 50px
    background: orange
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    border: none
    padding: 0
    cursor: pointer
    border: 2px solid orange
    padding: 1px
    background-clip: content-box
    transition: right .2s
  &__toggle_active
    right: calc(var(--crm-ingo-widget-toggle-h-offset) + var(--crm-info-widget-width)) 
  &__backdrop
    display: none
    position: fixed
    width: 100vw
    height: 100vh
    left: 0
    top: 0
    background: rgba(0,0,0,0.1)    
  &__backdrop_visible
    display: block
  &__info-panel
    overflow: auto
    box-shadow: 0 0 10px -5px #000
    position: fixed
    padding-top: 100px
    top: 0
    bottom: 0
    width: var(--crm-info-widget-width)
    background: #143A72
    top: 0
    left: 100%
    transition: left .2s
    z-index: 1
  &__info-panel_opened
    left: calc(100% - var(--crm-info-widget-width))
  &__tabs
    list-style: none
    padding: 0
    margin: 0
  &__tab-title
    margin: 0
    font-size: 19px
    color: #fff
    padding: 5px 0 5px 25px
    cursor: pointer
    border-bottom: 1px solid #1e53a3
    &:hover
      background: #0f2e5c
  &__tab-body
    max-height: 0
    background: #fff
    position: relative
    z-index: 2
    overflow: hidden
    padding: 0 15px
    transition: .1s
  &__tab-body_active
    padding: 35px 15px
    max-height: max-content
  &__form-group
    margin-bottom: 15px
  &__form-group-title
    font-size: 16px
    margin: 0
    margin-bottom: 5px
  &__field
    width: 100%
    padding: 3px
    border: 1px solid #000
    border-radius: 3px
    background: none
    box-sizing: border-box
  &__pagination
    margin-top: 20px
    text-align: center
  &__pagination-item
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%  
    background: rgba(0,0,0,0.3)
    margin-right: 5px
    &:last-child
      margin-right: 0
  &__pagination-item_active
    background: #0f2e5c
  &__navigation
    margin-top: -20px
    display: flex
    justify-content: space-between
  &__navigation-btn
    width: 20px 
    height: 20px
    background: #0f2e5c
    border-radius: 50%
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    border: none
    cursor: pointer
    position: relative
  &__navigation-btn_prev
    &:after  
      content: ''
      background: url('../img/icons/chevron-left.svg') center/contain no-repeat
      width: 20px
      height: 20px
  &__navigation-btn_next
    &:after  
      content: ''
      background: url('../img/icons/chevron-right.svg') center/contain no-repeat
      width: 20px
      height: 20px
  &__contact-form-step
    display: none
  &__contact-form-step_active
    display: block
  &__result-info-title
    font-size: 20px 
    margin: 0
    margin-bottom: 10px
  &__result-info-items
    margin: 0
    padding: 0
    list-style: none
  &__result-info-item
    margin-bottom: 3px
  &__confirm-btn
    background: #198754
    border: none
    text-transform: uppercase
    color: #fff
    padding: 5px 10px
    border-radius: 3px
    cursor: pointer
  &__table-wrap
    overflow: auto
    width: 100%
  &__table
    width: 100%
    white-space: nowrap
    border-collapse: collapse
    th, td 
      border: 1px solid #ccc
      padding: 5px 10px